#calendar {
    display: none;
    position: absolute;
    top: 32px;
    border: 1px solid black;
    left: 0;
    width: 250px;
    height: 400px;
}

#calendar .controls {
    background-color: green;
    color: white;
    padding: 5px;
}

#calendar .current-date {
    background-color: green;
    color: white;
    padding: 12px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: calc(100% - 24px);
}

#calendar .controls .current-month-and-year {
    display: inline-block;
    width: 180px;
    text-align: center;
}

#calendar .controls .btn {
    border: none;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 25px;
}

#calendar .controls .btn:hover {
    background-color: #33CC33;
    cursor: pointer;
}

#calendar .daysTable {
    margin: 0 auto;
    margin-top: 5px;
    position: relative;
    top: 50%;
    margin-top: -150px;
    border-spacing: 1px;
    border-collapse: separate;
}

#calendar .daysTable th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    height: 20px;
    width: 20px;
}

#calendar .daysTable td.another-month {
    color: lightgray;
}

#calendar .daysTable td.current-month:hover {
    cursor: pointer;
    background-color: #33CC33;
    color: white;
}

#calendar .daysTable td.current-day {
    border: 2px solid red;
}

#calendar .current-date-link {
    color: white;
    text-decoration: none;
}

#calendar .current-date-link:hover {
    text-decoration: underline;
}