#container {
    width: 1250px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid black;
}

#grid {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    width: 100%;
}

#grid .gridPiece {
    float: left;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 5px;
}

.sortable-placeholderPiece {
    margin: 5px; /* depends on .grindPiece */
    float: left;
    border: 1px red solid;
}

.resizable-helperPiece {
    border: 3px dotted gray;
    margin: -3px;
}

#grid #gridAdder {
    text-align: center;
}

#todo {
    display: none;
    border: 1px solid black;
}

#todo #todo-panel {
    padding: 10px;
}

#todo #todo-list {
    list-style-type: circle;
}

#todo #todo-list .done {
    color: green;
    list-style: disc;
}

#content {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid black;
    font: medium -moz-fixed;
    height: 28px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 400px;
}